---
---

<section id="education" class="snap-section snap-section--centered">
  <div class="snap-body">

    <h2 class="section-title"><i class="fa-solid fa-graduation-cap"></i>education</h2>

    <div class="edu-list">

      <div class="edu-item anim edu-item--first">
        <div class="edu-row">
          <div class="edu-info">
            <span class="edu-degree">Bachelor of Computer Applications (BCA)</span>
            <span class="edu-institution">Santhigiri College of Computer Sciences</span>
            <span class="edu-grade">Graduated - GPA: 6.1/10</span>
          </div>
          <div class="edu-meta">
            <span class="edu-year">2020 - 2023</span>
            <span class="edu-loc">Kerala, India</span>
          </div>
        </div>
        <div class="edu-coursework" role="list">
          <span class="edu-cw-tag" role="listitem">Data Structures &amp; Algorithms</span>
          <span class="edu-cw-tag" role="listitem">DBMS</span>
          <span class="edu-cw-tag" role="listitem">Computer Networks</span>
          <span class="edu-cw-tag" role="listitem">Operating Systems</span>
          <span class="edu-cw-tag" role="listitem">Web Technologies</span>
        </div>
      </div>

      <div class="edu-item anim">
        <div class="edu-row">
          <div class="edu-info">
            <span class="edu-degree">Higher Secondary Education (Computer Science)</span>
            <span class="edu-institution">St. George's Higher Secondary School</span>
            <span class="edu-grade">Percentage: 77%</span>
          </div>
          <div class="edu-meta">
            <span class="edu-year">2018 - 2020</span>
            <span class="edu-loc">Kerala, India</span>
          </div>
        </div>
        <div class="edu-coursework" role="list">
          <span class="edu-cw-tag" role="listitem">Computer Science</span>
          <span class="edu-cw-tag" role="listitem">Mathematics</span>
          <span class="edu-cw-tag" role="listitem">Physics</span>
          <span class="edu-cw-tag" role="listitem">Chemistry</span>
        </div>
      </div>

      <div class="edu-item anim">
        <div class="edu-row">
          <div class="edu-info">
            <span class="edu-degree">Secondary Education</span>
            <span class="edu-institution">Al-Azhar Public School</span>
            <span class="edu-grade">CGPA: 8.0/10</span>
          </div>
          <div class="edu-meta">
            <span class="edu-year">2017 - 2018</span>
            <span class="edu-loc">Kerala, India</span>
          </div>
        </div>
        <div class="edu-coursework" role="list">
          <span class="edu-cw-tag" role="listitem">Science</span>
          <span class="edu-cw-tag" role="listitem">Mathematics</span>
          <span class="edu-cw-tag" role="listitem">Social Science</span>
        </div>
      </div>

    </div>

  </div>
</section>
